@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,400&display=swap");
.boton-comprar, .botonnaranja, .botonverde, .botonsalmon {
  cursor: pointer;
  display: inline-block;
  padding: 2px 5px;
  border: none;
  background-color: #4CA771;
  color: #FFF;
  font-weight: 300;
  border-radius: 100px;
  padding: 0.4rem 0 0.4rem 0;
}
.boton-comprar:hover, .botonnaranja:hover, .botonverde:hover, .botonsalmon:hover {
  filter: opacity(90%);
}

.botonsalmon {
  background-color: salmon;
  color: #FFF;
}

.botonverde {
  background-color: greenyellow;
  color: #FFF;
}

.botonnaranja {
  background-color: orange;
  color: #FFF;
}

.cards {
  border: solid 0.7px #666;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 470px;
  margin: 2rem;
  padding: 15px;
  width: 200px;
}

.container-productos {
  display: flex;
  flex-wrap: wrap;
}

.container-productos1-card {
  display: flex; 
  justify-content: flex-end;
  margin-top: 4rem;
}

.container-productos1-card:hover {
  filter: opacity(70%);
}

.container-productos2-card:hover {
  filter: opacity(70%);
}

.container-productos2-card {
  display: flex; 
  justify-content: flex-start;
  margin-top: 4rem;
}

.card-style {
  margin: 0 15px 30px 15px;
}

.titulo-producto {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.img-producto {
  display: flex;
  justify-content: center;
}

.img-producto1 {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.img-producto2 {
  display: flex;
  justify-content: center;
}

.img-producto3 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
}

.img-producto4 {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  padding-bottom: 1.8rem;
}

.card-title-product {
  color: white;
}

.card-text-product {
  color: white;
  font-weight: 200;
}

.letradeparrafo {
  font-size: 1rem;
  font-weight: 100;
}

.letradetitulo {
  font-size: 3rem;
  font-weight: 1000;
}

.letramediana {
  font-size: 2rem;
  font-weight: 500;
}

.c-primario {
  color: #01957D;
}

.c-secundario {
  color: #013237;
}

.grids-discografia {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 16.5vh repeat(3 50vw) 12vh;
  grid-template-areas: "header" "titulodiscografia" "disco1discografia" "tabladiscografia" "disco2discografia" "footer";
}

.titulo-discografia {
  grid-area: titulodiscografia;
  text-align: center;
}

.discos1-discografia {
  grid-area: disco1discografia;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  margin-bottom: 4rem;
}

.tabla-discografia {
  grid-area: tabladiscografia;
}

.discos2-discografia {
  grid-area: disco2discografia;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.container-tabla {
  display: flex;
  justify-content: center;
}

.table-discografia {
  color: #fff;
  background-color: #01957D;
  font-weight: 300;
  text-align: center;
  border-color: white;
  border-radius: 11px;
  box-shadow: 0px 4px 4px 6px rgba(0, 0, 0, 0.25);
  height: 40vh;
  width: 90vh;
}
.table-discografia :hover{
  background-color: #333;
}

.img-discografia {
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  animation-name: integrantesydiscos;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.grids-historia {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 16.5vh 15vh repeat(2 50vw) 12vh;
  grid-template-areas: "header header" "noticias aside" "noticias aside" "ubicacion aside" "footer footer";
}

.seccion-noticias {
  grid-area: noticias;
}

.ubicacion {
  grid-area: ubicacion;
}

.stilos-derecha {
  grid-area: aside;
}

.estilos-derecha2 {
  grid-area: aside;
}

.fondo1-historia {
  grid-area: titulohistoria;
  font-size: 30px;
  margin: 0;
  width: 100%;
}

.fondo2-historia {
  grid-area: titulo;
  width: 100%;
}

.parrafo1-historia {
  grid-area: parrafohistoria;
  color: #444;
  font-weight: 300;
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}

.parrafo2-historia {
  grid-area: parrafohistoria;
  color: #444;
  font-weight: 300;
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}

.img1-historia {
  max-width: 50rem;
  box-shadow: 0px 4px 4px 3.7px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  margin: auto;
}

.img-historia {
  display: flex;
  box-shadow: 0px 1.5px 2px 2px rgba(0, 0, 0, 0.25);
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;
}

.titulo-papper {
  text-align: center;
  margin-top: 3rem;
}
.card-text{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 17rem;
  margin-top: 3rem;
}

footer {
  grid-area: footer;
  background-color: #01957D;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
footer .img-footer {
  width: 300px;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
footer .copy {
  margin: 0;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.boton-comprar, .botonsalmon, .botonverde, .botonnaranja {
  cursor: pointer;
  display: inline-block;
  padding: 2px 5px;
  border: none;
  background-color: #4CA771;
  color: #FFF;
  font-weight: 300;
  border-radius: 15px;
  padding: 0.4rem 0 0.4rem 0;
}
.boton-comprar:hover, .botonsalmon:hover, .botonverde:hover, .botonnaranja:hover {
  filter: opacity(90%);
}

.botonsalmon {
  background-color: salmon;
  color: #FFF;
}

.botonverde {
  background-color: greenyellow;
  color: #FFF;
}

.botonnaranja {
  background-color: orange;
  color: #FFF;
}

.titulo-integrantes {
  grid-area: titulointegrantes;
}

.tabla-integrantes {
  grid-area: tablaintegrantes;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.texto-integrantes {
  grid-area: textointegrantes;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 3.8rem;
}

.table-integrantes {
  color: #444;
  font-weight: 300;
  text-align: center;
  border-color: white;
  border-radius: 11px;
  box-shadow: 0px 4px 4px 6px rgba(0, 0, 0, 0.25);
}

.img2-integrantes {
  margin-left: 10rem;
  width: 30rem;
  animation-name: integrantesydiscos;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.grids-index {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 16.5vh 15vh 25vw 15vw 12vh;
  grid-template-areas: "header header header" "titulo titulo titulo" "imagen paper1 paper2" "papper3 papper3 apple" "footer footer footer";
}

header {
  grid-area: header;
}

.section-titulo-index {
  grid-area: titulo;
}

.container-img-index {
  grid-area: imagen;
}

.paper1-index {
  grid-area: paper1;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.paper2-index {
  grid-area: paper2;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paper3-index {
  grid-area: papper3;
  margin-top: 5%;
}

.img-apple-index {
  grid-area: apple;
  width: 70%;
}

.img-apple {
  width: 10rem;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 4.5rem;
}

/********** HEADER **********/
.stilos {
  background-color: #013237;
  background-position-y: center;
  display: flex;
  font-size: 50px;
  justify-content: center;
  padding-top: 15px;
}

.lista {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.lista:hover {
  color: #C1E6BA;
}

/********* MAIN **********/
.titulo {
  color: #1A1A1A;
  font-size: 40px;
  margin: 0;
  margin-bottom: 2rem;
  padding: 55px 10px 10px 10px;
  text-align: center;
}

.container-titulo {
  background-color: #333;
}

.titulo-papper {
  text-align: center;
}

.parrafo {
  font-size: 17px;
  margin: auto;
  width: 70%;
  padding-bottom: 20px;
  color: whitesmoke;
}

.parrafo-index {
  color: #444;
  font-weight: 300;
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}

.img-index {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 71.5%;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.navegador {
  background-color: #01957D;
  display: flex;
  /* font-size: 30px; */
  justify-content: space-between;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 300;
}

.img2-integrantes {
  margin-left: 10rem;
  width: 30rem;
  animation-name: integrantesydiscos;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

/* Contacto */
.container-input1 {
  display: flex; 
  justify-content: flex-end;
}

.container-input2 {
  display: flex; 
  justify-content: flex-start;
}

.container-radio1 {
  display: flex;
  align-items: center;
}

.container-radio2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-select {
  width: 37%;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 1.3rem;
}

.select {
  width: 100%;
  display: flex; 
  justify-content: center;
}

.container-pass {
  display: flex; 
  justify-content: center;
}

.container-button-enviar {
  display: flex; 
  justify-content: flex-end;
  margin-top: 3rem;
}

.container-button-borrar {
  display: flex; 
  justify-content: flex-start;
  margin-top: 3rem;
}

.boton-contacto {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: #4CA771;
  color: #FFF;
  font-weight: 300;
  border-radius: 10px;
  padding: 17px 60px 17px 60px;
  margin-bottom: 3rem;
}

.boton-contacto:hover {
  filter: opacity(70%);
}

@keyframes integrantesydiscos {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-10px);
  }
}

/*----------- @media historia---------- */

@media screen and (max-width: 1300px) {
  .grids-historia {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 16.5vh 15vh repeat(2 50vw) 12vh;
    grid-template-areas: "header header" "noticias noticias" "aside aside" "ubicacion ubicacion" "footer footer";
  }
  .img1-historia {
    max-width: 30rem;
    box-shadow: 0px 4px 4px 3.7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
}
@media screen and (max-width: 600px) {
  .grids-historia {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 16.5vh 15vh repeat(2 50vw) 12vh;
    grid-template-areas: "header header" "noticias noticias" "aside aside" "ubicacion ubicacion" "footer footer";
  }
  .img1-historia {
    max-width: 20rem;
    box-shadow: 0px 4px 4px 3.7px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    margin: auto;
  }
  footer {
    background-color: #01957D;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
  } 
}
/*------------------- @media discografia----------- */

@media screen and (min-width: 1024px) and (max-width:1240px){
  .grids-discografia {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16.5vh 15vh 20vh 20vh 20vh 12vh;
    grid-template-areas: "header " "titulodiscografia" "disco1discografia" "tabladiscografia" "disco2discografia" "footer ";
  }

  .table-discografia{
    height: 60vh;
    width: 100vh;

  }


}

@media screen and (min-width: 768px) and (max-width:1024px) {
  .grids-discografia {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16.5vh 15vh 20vh 20vh 20vh 12vh;
    grid-template-areas: "header " "titulodiscografia" "disco1discografia" "tabladiscografia" "disco2discografia" "footer ";
  }
  .img-discografia {
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    animation-name: integrantesydiscos;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    height: 20vh;
  }
  .table-discografia{
    height: 100vh;
    width: 60vh;

  }

  footer {
    background-color: #01957D;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 6rem;
  }
  footer .img-footer {
    width: 100px;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    
  }
  footer .copy {
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 480px) and (max-width:768px){

  .img-discografia {
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    animation-name: integrantesydiscos;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    height: 15vh;


  }

  .table-discografia{
    height: 100vh;
    width: 60vh;

  }

  footer {
    background-color: #01957D;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
  }

}

/* -----------@media integrantes-------------- */

@media screen and (min-width: 768px) and (max-width:1024px){

  .img2-integrantes {
    margin-right: 8rem;
    width: 30rem;
    height: 10rem;
    animation-name: integrantesydiscos;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    margin-top: 7rem;
  }

  .img1-integrantes{
    width: 50rem;
    height: 15rem;
  }

  .table-discografia{
    height: 50vh;
    width: 120vh;
    margin-top: 6rem;

  }

  .parrafo-index{
    margin-top: 4rem;
  }
}

@media screen and (min-width: 480px) and (max-width:768px){

  .img1-integrantes{
    width: 25rem;
    height: 10rem;
    margin-bottom: 10rem;
  }

  .table-discografia{
    height: 80vh;
    width: 70vh;
    

}

footer {
  background-color: #01957D;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 5rem;
} 

footer .copy {
  margin: 0;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: 0.7rem;
}

.img2-integrantes {
  margin-right: 10rem;
  width: 15rem;
  height: 10rem;
  animation-name: integrantesydiscos;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.parrafo-index{
  margin-bottom: 7rem;
}
}



/* -------------------@media productos---------------- */
@media screen and (min-width: 480px) and (max-width:768px){


  .container-productos1-card {
    display: flex; 
    justify-content: center;
    margin-top: 4rem;
  }

  .container-productos2-card {
    display: flex; 
    justify-content: center;
    margin-top: 4rem;
  }

  
}

@media screen and (min-width: 768px) and (max-width:1024px){


  .container-productos1-card {
    display: flex; 
    justify-content: center;
    margin-top: 4rem;
  }

  .container-productos2-card {
    display: flex; 
    justify-content: center;
    margin-top: 4rem;
  }

  
}

@media screen and (min-width: 1024px) and (max-width:1200px){


  .container-productos1-card {
    display: flex; 
    justify-content: center;
    margin-top: 4rem;
  }

  .container-productos2-card {
    display: flex; 
    justify-content: center;
    margin-top: 4rem;
  }

  
}

/* @Media Contacto */
@media screen and (min-width: 1024px) and (max-width:1200px) {
  .container-input1 {
    display: flex; 
    justify-content: center;
  }
  
  .container-input2 {
    display: flex; 
    justify-content: center;
  }
  
  .container-radio1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .container-radio2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .container-select {
    width: 37%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1.3rem;
  }
  
  .select {
    width: 100%;
    display: flex; 
    justify-content: center;
  }
  
  .container-pass {
    display: flex; 
    justify-content: center;
  }

  .container-button-enviar {
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
  }
  
  .container-button-borrar {
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .boton-contacto {
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: #4CA771;
    color: #FFF;
    font-weight: 300;
    border-radius: 10px;
    padding: 17px 123px 17px 123px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
  .container-input1 {
    display: flex; 
    justify-content: center;
  }
  
  .container-input2 {
    display: flex; 
    justify-content: center;
  }
  
  .container-radio1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .container-radio2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .container-select {
    width: 37%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1.3rem;
  }
  
  .select {
    width: 100%;
    display: flex; 
    justify-content: center;
  }
  
  .container-pass {
    display: flex; 
    justify-content: center;
  }

  .container-button-enviar {
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
  }
  
  .container-button-borrar {
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .boton-contacto {
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: #4CA771;
    color: #FFF;
    font-weight: 300;
    border-radius: 10px;
    padding: 17px 95px 17px 95px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 480px) and (max-width:768px) {
  .container-input1 {
    display: flex; 
    justify-content: center;
  }
  
  .container-input2 {
    display: flex; 
    justify-content: center;
  }
  
  .container-radio1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .container-radio2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .container-select {
    width: 37%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1.3rem;
  }
  
  .select {
    width: 100%;
    display: flex; 
    justify-content: center;
  }
  
  .container-pass {
    display: flex; 
    justify-content: center;
  }

  .container-button-enviar {
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
  }
  
  .container-button-borrar {
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .boton-contacto {
    cursor: pointer;
    font-size: 20px;
    border: none;
    background-color: #4CA771;
    color: #FFF;
    font-weight: 300;
    border-radius: 10px;
    padding: 17px 68px 17px 68px;
    margin-bottom: 0;
    margin-top: 0;
  }
}


/*------------------- @media index---------- */



@media screen and (min-width: 768px) and (max-width:1024px){
  .grids-index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 23.5vw 10vw 43vw 16vw 33vw 33vw 15vh 15vh;
    grid-template-areas: "header" "titulo" "imagen" "papper3" "paper1" "paper2" "apple" "footer";
  }

  .titulo{
    margin-top: 0.8rem;
    font-size: 30px;
    grid-area: titulo;
  }

  .titulo-papper {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .img-index{
    grid-area: imagen;
  }
  .paper3-index{
    grid-area: papper3;
    margin-top: 0;
  }

  .parrafo-index {
    margin-top: 0;
  }

  .card-body {
    font-size: 17px;
  } 
  
  .paper1-index {
    grid-area: paper1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 14rem;
    margin: auto;
  }

  .paper2-index {
    grid-area: paper2;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 14rem;
    margin: auto;
  }

  .titulo-papper{
    text-align: center;
  }

  .img-apple {
    width: 7rem;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  footer {
    background-color: #01957D;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  } 
  
  footer .copy {
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size: 0.7rem;
  }
  .letradeparrafo{
    display: flex;
    justify-content: center;
    height: auto;
    text-align: center;
    font-size: 12px;
  }
  .card-text{
    width: 100%;
    text-align: center;
    margin-top: 0 ;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
}

@media screen and (min-width: 480px) and (max-width:768px){


  .grids-index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 38vw 10vw 43vw 37vw 52vw 52vw 15vh 15vh;
    grid-template-areas: "header" "titulo" "imagen" "papper3" "paper1" "paper2" "apple" "footer";
  }

  header {
    grid-area: header;
  }

  .titulo{
    margin-top: 0.3rem;
    font-size: 20px;
    grid-area: titulo;
  }

  .titulo-papper {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .img-index{
    grid-area: imagen;
  }
  .paper3-index{
    grid-area: papper3;
    margin-top: 0;
  }

  .parrafo-index {
    margin-top: 0;
  }

  .card-body {
    font-size: 17px;
  } 
  
  .paper1-index {
    grid-area: paper1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 14rem;
    margin: auto;
  }

  .paper2-index {
    grid-area: paper2;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 14rem;
    margin: auto;
  }

  .titulo-papper{
    text-align: center;
  }

  .img-apple {
    width: 7rem;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  footer {
    background-color: #01957D;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  } 
  
  footer .copy {
    margin: 0;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size: 0.7rem;
  }
  .letradeparrafo{
    display: flex;
    justify-content: center;
    height: auto;
    text-align: center;
    font-size: 12px;
  }
  .card-text{
    width: 100%;
    text-align: center;
    margin-top: 0 ;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


.container-productos{
  display: flex;
  flex-wrap: wrap;
}
.card-style {
  border: 3px solid black;
  width: 100%;
}

.card-body {
  width: 100%;
  height: 17vh;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
}



