

    
    @media screen and (max-width: 1300px) {
        .grids-historia {
            display: grid;
            grid-template-columns: 60% 40%;
            grid-template-rows: 16.5vh 15vh repeat(2 50vw) 12vh;
            grid-template-areas: 
                "header header"
                "noticias noticias"
                "aside aside"
                "ubicacion ubicacion"
                "footer footer";
        }

        .img1-historia {
            max-width: 30rem; 
            box-shadow: 0px 4px 4px 3.7px rgba(0, 0, 0, 0.25); 
            display: flex;
            justify-content: center;
            margin: auto;
        }


 }

 @media screen and (max-width: 600px) {
    .grids-historia {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 16.5vh 15vh repeat(2 50vw) 12vh;
        grid-template-areas: 
            "header header"
            "noticias noticias"
            "aside aside"
            "ubicacion ubicacion"
            "footer footer";
    }

    .img1-historia {
        max-width: 20rem; 
        box-shadow: 0px 4px 4px 3.7px rgba(0, 0, 0, 0.25); 
        display: flex;
        justify-content: center;
        margin: auto;
    }

}





@media screen and (max-width: 600px) {

    .grids-index {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 16.5vh 15vh repeat(2 30vw) 12vh;
        grid-template-areas: 
            "header header"
            "titulo titulo"
            "imagen papper3"
            "paper1 paper2 "
            "footer footer"
            ;
    }
    .img-index {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 71.5%;
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
        max-width: 30rem;
        margin-top: 4rem;
    }

    .titulo {
        color: #1A1A1A;
        font-size: 30px;
        margin: 0;
        margin-top: 6rem;
        margin-bottom: 2rem;
        padding: 10px;
        text-align: center;
    }
    
    .container-titulo {
        background-color: #333;
    }
    
    .titulo-papper {
        text-align: center;
        
    }
    
    .parrafo {
        font-size: 17px;
        margin: auto;
        width: 70%;
        padding-bottom: 20px;
        color: whitesmoke;
    }
    
    
    .parrafo-index {
        color: #444;
        font-weight: 300;
        margin: 0;
        padding: 20px;
        text-align: center;
        font-size: 1rem;
        margin-top: 5rem;
    }


    .stilos{
        background-color: #013237;
        background-position-y: center;
        display: flex;
        font-size: 50px;
        justify-content: center;
        padding-top: 15px;
    }
    
    .lista {
        color: white;
        text-decoration: none;
        list-style: none;
        font-size: 1.3rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .paper1-index {
        grid-area: paper1;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
        width: 17rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    
    .paper2-index {
        grid-area: paper2;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
        width: 17rem;
        display: flex;
        margin-left: 50rem;
        flex-direction: row;
        justify-content: center;
    }
    
    .paper3-index {
        grid-area: papper3;
    }

    .img-apple-index {
        grid-area: apple;
        width: 100%;
    }
    
    .img-apple {
        width: 8rem;
        margin-top: 0;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin-left: 25%;
        margin-top: 13rem;
    }
    
    footer {
        grid-area: footer;
        background-color: $colorprimario;
        display: flex;
        justify-content: space-around;
        
        margin-top: 6rem;
    
        .img-footer {
            width: 5px; 
            height: auto;
            margin-top: 0.7rem; 
            margin-bottom: 0.7rem;
        }
        
        .copy {
            margin: 0;
            display: flex;
            align-items: center;
            color: #FFFF;
             width: 300;
            font-size: 0.5rem;
        }
    }
    
}






@media screen and (max-width: 600px){


    .grids-discografia {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 16.5vh 15vh 30vh 20vh 30vh  12vh;
        grid-template-areas: 
            "header "
            "titulodiscografia"
            "disco1discografia"
            "tabladiscografia"
            "disco2discografia"
            "footer ";
    }

    .img-discografia {
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
        animation-name: integrantesydiscos;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    }
}


@media screen and (max-width: 600px){

    .grids-integrantes{
        .img1-integrantes{
            margin-right: 10px;
            width: 10rem;
            display: flex;
            justify-content: center;
        }
    }
}