.img2-integrantes {
    margin-left: 10rem;
    width: 30rem; 
    animation-name: integrantesydiscos;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes  integrantesydiscos{

    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    
    100% {
        transform: translateX(-10px);
    }
    
    
    
    }