.navegador{
    background-color: #01957D;
    display: flex;
    /* font-size: 30px; */
    justify-content: space-between;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 300;
}