

$colorprimario: #01957D;
$colorsecundario:#013237;
$colorterciario:#d9d9db;

.c-primario{
    color: $colorprimario;
}

.c-secundario{
    color: $colorsecundario;
}

.c-terciario{
    color:$colorterciario;
}